@inherits LayoutComponentBase



<div class="wrapper">

    <Navbar/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        @Body

    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->



    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>


    <!-- /.control-sidebar -->
    <!-- Main Footer -->
    <footer class="main-footer">
        <strong>Copyright &copy; David Silwal.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 0.1
        </div>
    </footer>

</div>
<!-- ./wrapper -->
